<link rel="stylesheet" href="/static/css/gardenia-upload.css">
<form id="form-add" onsubmit="return false;">
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 form-check-label" for="exampleFormControlSelect2">
            测试1
        </label>
        <select class="col-xs-12 col-sm-10 selectpicker" multiple id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>


    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 form-check-label" for="rich-text">
            测试2
        </label>

        <div class="col-xs-12 col-sm-10" id="rich-text"></div>
    </div>


    <div class="form-group row">
        <label class="col-xs-12 col-sm-2" for="datetime">
            测试2
        </label>
        <div class="col-xs-12 col-sm-10">
            <input class="form-control flatpickr-input" id="datetime" type="text">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2" for="datetime">
            测试2
        </label>
        <div class="col-xs-12 col-sm-10">
<!--            <input class="form-control" id="upload" type="file">-->
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="idcard" placeholder="请选择或上传文件">
                <div class="input-group-append">
                    <div style="position: relative;">
                        <button class="btn btn-primary" type="button" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">上传<input type="file" multiple id="gar-upload-file" style="width: inherit; max-width: 100%; height: 100%;position: absolute;left: 0;top: 0;opacity: 0;"></button>
                    </div>
                    <button class="btn btn-dark gar-upload-btn-choose" type="button">选择</button>
                </div>
            </div>
            <div class="gar-upload-preview-image">
                <div class="image-card">
<!--                    <img src="/uploads/default/20220204/dd77c8078f02c9b99f3ef49e510307a6.png" alt="">-->
                    <i class="far fa-file-alt"></i>
                    <h5 style="margin-top: 10px;margin-bottom: 10px;white-space: nowrap;width:100%;overflow: hidden; text-overflow: ellipsis;">这是文件102320.jpg</h5>
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="image-card">
                    <img src="/uploads/default/20220205/6d21e5c5f1c42ebea95f961e84d753db.png" alt="">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row" style="margin-top: 36px;">
        <div class="col-sm-7 row">
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-end">
                <button type="reset" class="btn btn-danger">重置</button>
            </div>
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-center">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>

        </div>

    </div>

</form>