<style>
    div.form-group.form-check.col-xs-7 {
        padding: 0 30px;
    }
</style>
<form id="form-edit" onsubmit="return false;">
    <input type="hidden" name="id" value="{$row.id}">
    <div class="form-group row">
        <label id="test" class="col-form-label col-sm-2 text-center" for="pid">父级</label>
        <select class="form-control col-sm-5" data-rule="required" name="pid" id="pid">
            {foreach $pidList as $key => $vo}
            <option value="{$vo.id}" {eq name="vo.id" value="$row.pid"}selected{/eq}>{$vo.title}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-center" for="title">标题</label>
        <input type="text" class="form-control col-sm-5" data-rule="required;length(~255)" value="{$row.title}" id="title" name="title" placeholder="请输入标题">
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-center" for="rules">规则</label>
        <div class="form-group">
            <div class="form-group row" style="margin-left: 0;">
                <div class="form-group form-check col-xs-5">
                    <input id="check-all" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="check-all">全选</label>
                </div>
                <div class="form-group form-check col-xs-7">
                    <input id="expand-all" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="expand-all">展开全部</label>
                </div>
            </div>
            <div id="rules" data-list='{:json_encode($ruleList,JSON_UNESCAPED_UNICODE)}'></div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-center" for="status">状态</label>
        <select class="form-control col-sm-5" id="status" data-rule="required;" name="status">
            {foreach $statusList as $key => $vo}
            <option value="{$key}" {eq name="key" value="$row.status"}selected{/eq}>{$vo}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group row" style="margin-top: 36px;">
        <div class="col-sm-7 row">
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-end">
                <button type="reset" class="btn btn-danger">重置</button>
            </div>
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-center">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>

        </div>

    </div>

</form>