.image-card {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100px;
    background-color: rgba(250, 246, 246, 0.93);
    padding-bottom: 8px;
    font-size: 0.6rem;
}
.image-card img {
    width: 100%;
    max-height: 100%;
}
.image-card-bottom {
    background-color: #ff0404;
    width: 100%;
    text-align: center;
}
.image-card > .image-card-bottom > i.far {
    font-size: 0.2rem;
    color: white;
}
.gar-upload-preview-image {
    display: flex;
    display: -webkit-flex;
}
.image-card:nth-of-type(n+2) {
    margin-left: 3px;
}
.gar-upload-title-above {
    width: 100%;
    height: 60px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.gar-upload-title-above > i.far {
    font-size: 3rem;
    color: #1d65cf;
}
.image-card p {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.upload-btn-parent {
    position: relative;
}
.upload-btn-parent > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.upload-btn-parent > button > input[type="file"] {
    width: inherit;
    max-width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}