<form id="form-add" onsubmit="return false;">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-center" for="title">频道标题</label>
        <input type="text" class="form-control col-sm-5" data-rule="频道标题: required;length(2~15)" id="title" name="title" placeholder="请输入频道标题">
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-center" for="title">频道名称</label>
        <input type="text" class="form-control col-sm-5" data-rule="频道名称: required;length(2~15)" id="name" name="name" placeholder="请输入频道名称">
    </div>
    <div class="form-group row" style="margin-top: 36px;">
        <div class="col-sm-7 row">
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-end">
                <button type="reset" class="btn btn-danger">重置</button>
            </div>
            <div class="col-sm-6 col-xs-12 row flex-xs-row flex-sm-row justify-content-sm-center">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>

        </div>

    </div>

</form>